.movie {
  &-article {
    overflow: hidden;
    position: relative;

    height: 100vh;

    .movie-app {
      &.is-loading {
        .movie-article {
          visibility: hidden;
        }
      }
    }
  }

  &-article-view {
    transition: transform $dur $ease;

    &.is-search {
      transform: translateX(-100%);

      .movie-section-box {
        &:first-child {
          overflow: hidden;
          height: 100vh;
        }
      }

      .movie-section-box--search {
        overflow-y: auto;
        transform: translateX(100%);
      }
    }
  }

  &-section-box {
    &--search {
      position: absolute;
      right: 0;
      top: 0;
      width: 100%;
      height: 100vh;
    }
  }
}
