.header {
  margin: 10rem 0;

  .btn {
    &--search {
      border-color: $color-primary;
      background-color: $color-primary;
      color: $white;
    }
  }

  &-inner {
    position: relative;
    max-width: $w-wrap/2;
    margin: auto;
    padding-left: 180px;
    box-sizing: border-box;

    .logo {
      position: absolute;
      left: 0;
      width: 160px;
    }
  }

  &-utils {
    position: absolute;
    z-index: 10;
    left: 0;
    right: 0;
    bottom: 0;
    transform: translateY(120%);
    text-align: center;

    .btn {
      &.is-active {
        color: $white;
        background-color: $color-primary;
      }
    }
  }

  &-search {
    .input-group {

      &--search {
        position: relative;
        padding-right: 8.6rem;

        .btn {
          position: absolute;
          right: 0;
          top: 0;
          bottom: 0;
        }
      }
    }
  }
}