.header {
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;

  .btn {
    &--search {
      border-color: $color-primary;
      background-color: $color-primary;
      color: $white;
    }
  }

  &-utils {
    position: absolute;
    z-index: 10;
    left: 0;
    right: 0;
    bottom: 0;
    transform: translateY(120%);
    text-align: center;

    .btn {
      &.is-active {
        color: $white;
        background-color: $color-primary;
      }
    }
  }

  &-search {
    max-width: 500px;
    margin: auto;
    padding-left: 3rem;
    padding-right: 3rem;
    width: 100%;
    box-sizing: border-box;

    .input-block {
      border: 1px solid $white;
    }
  }
}