.logo {
  fill: #e50914;
}

.movie {
  &-app {
    &.is-loading {
      .movie-article {
        visibility: hidden;
      }
    }
  }

  &-func {
    .btn {
      &.is-active {
        color: $white;
        background-color: $color-primary;
      }
    }
  }

  &-section {
    position: relative;
    padding: 10rem 0 5rem;

    & + & {
      margin-top: 10rem;
    }

    &-bg {
      @include full-pos;
      background-repeat: no-repeat;
      background-size: cover;
      opacity: 0.5;

      &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        height: 30%;
        background: linear-gradient(black 10%, transparent);
      }

      &::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        right: 0;
        height: 30%;
        background: linear-gradient(transparent 10%, black);
      }
    }

    .h1 {
      position: absolute;
      z-index: 10;
      top: 0;
      left: 0;
      width: 100%;
      text-align: center;
      text-transform: capitalize;
    }

    .loading {
      position: absolute;
    }

    @include mq(medium) {
    }

    @include mq(large) {
    }
  }
}
