.logo {
  fill: #e50914;
}

.movie {
  &-func {
    .btn {
      &.is-active {
        color: $white;
        background-color: $color-primary;
      }
    }
  }

  &-section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    overflow: hidden;
    align-items: center;
    position: relative;
    height: 100vh;
    box-sizing: border-box;

    &::before {
      content: '';
      position: absolute;
      z-index: 10;
      left: 0;
      top: 0;
      right: 0;
      height: 35%;
      background: linear-gradient(black 30%, transparent);
    }

    &::after {
      content: '';
      position: absolute;
      z-index: 10;
      left: 0;
      bottom: 0;
      right: 0;
      height: 35%;
      background: linear-gradient(transparent 30%, black);
    }

    & + & {
      margin-top: 10rem;
    }

    &-bg {
      @include full-pos;
      transition: all $dur linear;
      z-index: 1;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      opacity: 0.5;

      &--next {
        transform: scale(1.5);
      }
    }

    &-box--search {
      //
    }

    .h1 {
      position: relative;
      z-index: 10;
      margin-bottom: 6rem;
      text-align: center;
    }

    .loading {
      position: absolute;
    }

    @include mq(medium) {
    }

    @include mq(large) {
      &-box--search {
        ul {
          display: flex;
          flex-flow: row wrap;
          justify-content: space-between;
        }
        li {
          flex-basis: percentage(1/3.2);
          position: relative;
          height: 0;
          padding-bottom: 50%;
        }
        .thumb {
          @include full-pos;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }
    }
  }
}
